/* Utility */
:root {
    --drop-primary: #b4d0e7;
    --drop-secondary: #0061ff;
    --drop-secondary-trasparent: #5e9bfe;
    --drop-dark: #000000;
    --drop-dark-trasparent: #0000005c;
    --drop-lighter: #ffffff;
    --drop-light: #dedede;
    --drop-highlight: #61082b;
    --drop-square1: #a2d39b;
    --drop-square1-border: #d1e9cd;
    --drop-square2: #61082b;
    --drop-square3: #0093ce;
    --drop-square4: #ff1c1c;
    --drop-square5: #d5001f;
    --drop-square6: #b4d0e7;
    --drop-square7: #0d2481;
    --drop-square8: #ffd830;
    --drop-central-square: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

.btn_contact {
    transition: background-color 200ms ease-in-out;
}

.btn_contact:hover {
    background-color: var(--drop-secondary-trasparent);
}

.light {
    transition: color 500ms ease-in-out, background-color 500ms ease-in-out, border 500ms ease-in-out;
}

.light:hover {
    color: var(--drop-dark-trasparent);
    background-color: var(--drop-lighter);
    border: 1px solid var(--drop-dark-trasparent);
}

/* /Utility */


/* Header */
.no_link_style {
    transition: text-decoation 500ms;
}

.no_link_style:hover {
    text-decoration: underline 2px;
    text-underline-offset: 1.7rem;
}

/* /Header */


/* Main */

.fa-arrow-down{
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  

.accordion {
    cursor: pointer;
    transition: 0.4s;
}

.fa-chevron-up {
    display: none;
}

.accordion:hover .fa-chevron-up{
    display: inline-block;
}

.faq_divider:hover .fa-chevron-down {
    display: none;
}

.text_answer{
    display: none;
}

.accordion:hover .text_answer{
    display: block;
    background-color: var(--drop-central-square);
    padding: 2rem 1rem;
    border: 1px solid var(--drop-light);
    transition: all 100ms ease-in-out;
}

.how_to>img, .plan_card {
    transform: none;
    transition: transform 200ms;
}

.how_to>img:hover{
    transform: scale(1.2);
}
.plan_card:hover{
    transform: scale(1.05);
}


/* /Main */

/* Footer */

/* /Footer */